# Replace with your values or use a secrets manager like 1Password
# and reference the secrets here. Then save the file as .env and 
# make sure to add .env to your .gitignore to avoid committing sensitive 
# information to version control.
ANTHROPIC_API_KEY=op://Private/ANTHROPIC_API_KEY/credential
REDDIT_CLIENT_ID=op://Private/REDDIT_CLIENT_ID/credential
REDDIT_CLIENT_SECRET=op://Private/REDDIT_CLIENT_SECRET/credential
# Format: REDDIT_USER_AGENT=language:name:v0.0_(by_/u/username)
REDDIT_USER_AGENT=op://Private/REDDIT_USER_AGENT/credential
OPENAI_API_KEY=op://Private/OPENAI_API_KEY/credential