certifi
charset-normalizer
click
DateTime
idna
joblib
nltk
openai
pip
praw
prawcore
python-dotenv
pytz
regex
requests
setuptools
textblob
tqdm
update-checker
urllib3
websocket-client
wheel
zope.interface